/* Validation errors */
form label.error {
    font-size: 0.625rem;
    line-height: 130%;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease 0.3s, visibility 0s linear 0.3s;
    text-transform: uppercase;
    color: #B65234;
}

form label.error::before {
  content: '*';
}

form label.error.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s linear 0s;
}

@media screen and (max-width: 480px) {
    .email-example {
        display: none;
    }
}

/* Hide native checkbox */
.s_cfo_form_row_checkbox input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  font: inherit;
  color: #1E1E1E;
  width: 20px;
  height: 20px;
  border: 2px solid var(--base-color-neutral--neutral-darkest);
  display: grid;
  place-content: center;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s ease;
}

.s_cfo_form_row_checkbox input[type="checkbox"]::before {
  content: "";
  width: 10px;
  height: 10px;
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  background-color: var(--base-color-neutral--neutral-darkest);
}

.s_cfo_form_row_checkbox input[type="checkbox"]:checked::before {
  transform: scale(1);
}


/* RADIO BUTTONS */
input[type="radio"]::before {
  cursor: pointer;
  content: '';
  width: 100%;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .25s ease;
  z-index: 0;
}

input[type="radio"]:checked::before {
  opacity: .2;
}