@import url('menu.css');
@import url('form.css');
@import url('swiper.css');
@import url('faqs.css');

/* Text selection highlight */
::selection {
    background-color: #B65234;
    color: white;
}

::-moz-selection {
    background-color: #B65234;
    color: white;
}

/*
*   HERO CONTENT
*/

.section_hero_followup_content_card .for-living-display-text {
    transform: translate(-1rem, 0);
}

.section_hero_followup_content_card .for-living-display-text:nth-child(1) {
    transform: translate(1rem, 0);
}

.section_hero_followup_content_card:hover .for-living-display-text,
.section_hero_followup_content_card.active .for-living-display-text {
    opacity: 1;
    transform: translate(0rem, 0);
}

@media screen and (max-width: 767px) {
    .section_hero_followup_content_card.active {
        max-width: 100%;
        aspect-ratio: 345 / 263;
    }
}

/*
*   INTERACTIVE ITALY MAP
*/
.italia_map_hover_container .italia_map_info_container {
    opacity: 0;
    transform: translate(-1rem, 0);
}

.italia_map_hover_container:hover .italia_map_info_container {
    opacity: 1;
    transform: translate(0, 0);
}

/* Radar rings */
.radar-ring {
    animation: radar-pulse 3s ease-out infinite;
}

.radar-ring:nth-child(1) {
    animation-delay: 0s;
}

.radar-ring:nth-child(2) {
    animation-delay: 0.75s;
}

.radar-ring:nth-child(3) {
    animation-delay: 1.5s;
}

.radar-ring:nth-child(4) {
    animation-delay: 2.25s;
}

@media screen and (min-width: 768px) {
    @keyframes radar-pulse {
        0% {
            width: 1rem;
            height: 1rem;
            opacity: 0.8;
            border-color: #B65234;
        }
        100% {
            width: 4rem;
            height: 4rem;
            opacity: 0;
            border-color: #B65234;
        }
    }
}

@media screen and (max-width: 767px) {
    @keyframes radar-pulse {
        0% {
            width: .25rem;
            height: .25rem;
            opacity: 0.8;
            border-color: #B65234;
        }
        100% {
            width: 2rem;
            height: 2rem;
            opacity: 0;
            border-color: #B65234;
        }
    }
}


/*
*   BUTTONS
*/
/* PRIMARY */
.button:hover,
.button-outline:hover {
    transition: all .35s ease;
}

.button:hover {
    background-color: rgba(0,0,0,.5);
}

.button.is-alternate:hover {
    background-color: rgba(255,255,255,.5);
}

.button-outline:hover {
    border-color: rgba(0,0,0,1);
}

.button-outline.is-alternate:hover {
    border-color: rgba(255,255,255,1);
}

/* SECONDARY */
.button.is-secondary:hover {
    background-color: #dcdcdc;
}

.button-outline.is-secondary:hover {
    background-color: #969696;
}

.button.is-secondary.is-alternate:hover {
    background-color: #1A1A1A;
}

.button-outline.is-secondary.is-alternate:hover {
    background-color: #5E5E5E;
}


/*
*   SERVICES
*/
/* HERO SECTION */
.header32_background-image-wrapper.overlay-reveal {
    clip-path: polygon(25% 100%, 75% 100%, 75% 100%, 25% 100%);
    transform-origin: center center;
}


/* STEPS SECTION */
.step-row.active {
    opacity: 1;
}

.pj_step_desc.active {
    opacity: 1;
}